.home {
    background-color: black;
    color: white; 
    max-width: 1000px;
    margin: 0 auto
}

/* ********************************** */
/** SearchOptionNav Styles **/
/* ********************************** */

.search-options-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #979797;
    height: 48px
}

.search-options-nav-item {
    width: 50px;
    background-color: black;
    color: white;
    padding-bottom: 10px;
    border: none;
    outline: none
}

.bundle {
    width: 100px
}

.search-options-nav-item img {
    width: 14px;
    margin: 0 3px;
}

.search-options-nav-item:hover, .search-options-nav-item:active {
    border-bottom: 3px solid #005ebf;
}

/* ********************************** */
/** SearchVacationPackagesNav Styles **/
/* ********************************** */

.vacay-packages-header {
    font-size: 15px;
    margin: 20px 10px 10px 10px
}

.search-vacay-nav {
    display: flex;
    flex-flow: row wrap;
    margin: 10px 10px 20px 10px
}

.search-vacay-nav-item {
    background-color: #626262;
    border-radius: 5px;
    height: 30px;
    border: 1px solid #626262;
    font-size: 10px; 
    color: white;
    padding: 0 10px;
    margin: 10px 10px 0 0;
    outline: none
}

.search-vacay-nav-item:hover, .search-vacay-nav-item:active {
    background-color: #005ebf;
}