/* ************************************* */
/** Hotel Styles **/
/* ************************************* */


/* ************************************* */
/** TripDetails Styles **/
/* ************************************* */

.hotel-added-components {
    border: 3px solid #003060;
    border-radius: 1px;
}
.trip-details {
    color: #616161;
}

.trip-details-header {
    background-color: #003060;
    color: white;
    font-size: 17px;
    padding: 11px 15px;
    font-weight: bold
}

.trip-details-subheader {
    background-color: #ededed;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 15px
}

.trip-details-main {
    padding: 18px 15px;
}

/* ************************************* */
/** RoomButton Styles **/
/* ************************************* */

/* .room-button {
    display: flex;
    flex-direction: column;
    align-items: right
} */

.room-button-header {
    background-color: #007500;
    color: white;
    padding: 3px
}

.bold {
    font-weight: bold;
}

.room-button-header p {
    margin: 0;
    margin-bottom: 3px
}

.room-details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.room-select-button {
    background-color: #005ebf;
    width: 60px;
    height: 30px;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.5);
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: white;
    text-align: center;
    object-fit: contain;
    outline: none;
    margin-bottom: 5px 
}

.show-all-rooms {
    color: #005ebf;
    font-size: 10px;
    padding: 10px 15px;
    border-top: 3px solid #003060
}