* {
    box-sizing: border-box
}

.home {
    background-color: black;
    color: white; 
    margin: 0 auto
}

/* ********************************** */
/** SearchOptionNav Styles **/
/* ********************************** */

.search-options-nav, 
.vacay-packages-header, 
.search-vacay-nav,
.search-form,
.form-message {
    padding: .5rem
}

.search-options-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: .5rem; */
    padding-bottom: 0;
    border-bottom: 1px solid var(--subtext-color);
    height: 55px
}

.search-options-nav-item {
    width: 50px;
    background-color: black;
    color: white;
    font-weight: bold;
    padding-bottom: 10px;
    border: none;
    outline: none;
    border-radius: 0
}

.bundle {
    width: 105px
}

.search-options-nav-item img {
    width: 14px;
    margin: 0 3px;
}

.search-options-nav-item:hover, .search-options-nav-item:active {
    border-bottom: 3px solid var(--amenities-icon-text);
}

/* ********************************** */
/** SearchVacationPackagesNav Styles **/
/* ********************************** */

.vacay-packages-header {
    color: white;
    margin: 0;
    padding-top: 1rem;
    /* font-size: 15px; */
    /* margin: 20px 10px 10px 10px */
}

.search-vacay-nav {
    display: flex;
    flex-flow: row wrap;
    /* margin: 10px */
}

.search-vacay-nav-item {
    background-color: var(--subtext-color);
    /* border-radius: 5px; */
    height: 30px;
    border: 1px solid var(--subtext-color);
    font-size: 10px; 
    color: white;
    padding: 0 15px;
    margin: .5rem .5rem 0 0;
    outline: none
}

.search-vacay-nav-item:hover, .search-vacay-nav-item:active {
    background-color: var(--amenities-icon-text);
}

/* ********************************** */
/** SearchForm Styles **/
/* ********************************** */

/* 
.search-form {
    margin: 10px   
} */

.input-label {
    font-size: .5rem;
    font-weight: bold;
    color: var(--subtext-color);
    position: relative;
    top: 14px;
    left: 30px;
    z-index: 1
}

.input-icon {
    position: relative;
    top: 36px;
    left: 8px;
    /* color: var(--subtext-color); */
}

.map {
    width: 11px;
    height: 14px;
}

.calendar {
    width: 17px;
    height: 17px;
    top: 40px;
}

.user {
    width: 12px;
    height: 12px;
}

.x-icon {
    position: relative;
    top: 36px;
    left: 320px;
    /* color: var(--subtext-color); */
    object-fit: contain;
    width: 12px;
    height: 12px;
}

input[type = text] {
    width: 100%;
    height: 36px;
    border-radius: 5px;
    border: solid 1px var(--formfield-icons);
    padding-left: 30px;
    padding-bottom: 0;
    font-size: 12px;
}

.half-width-label {
    width: 48%;
}

.dates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input[type = checkbox] {
    height: 16px;
    width: 16px;
    border-radius: 2px;
    border: solid 1px var(--formfield-icons);
    background-color: white;
    margin-right: 4px
}

.checkbox-label {
    font-size: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: .5rem;
}

.searchButton {
    width: 100%;
    height: 36px;
    /* border-radius: 5px; */
    background-color: var(--expedia-yellow);
    box-shadow: 0 2px 4px 0 var(--subtext-color);
    border: 1px solid;
    font-size: 12px;
    font-weight: bold;
}

/* ********************************** */
/* * Bottom of Home Page * */
/* ********************************** */
.form-message {
    font-size: 13px;
    font-weight: bold;
    /* padding: 15px 10px; */
}

.homepage-ads {
    background-color: var(--very-light-pink);
    color: var(--expedia-blue);
    font-size: 12px;
    padding: 20px;
}

.homepage-ads p {
    margin-bottom: 15px;
    padding: 0 15px 0 40px;
}

.bold {
    font-weight: bold;
}