/* ************************************* */
/** Hotel Styles **/
/* ************************************* */


/* ************************************* */
/** TripDetails Styles **/
/* ************************************* */

.trip-details-header,
.trip-details-subheader,
.trip-details-main {
    padding: .5rem
}

.hotel-added-components {
    border: 3px solid var(--expedia-blue);
    border-radius: 1px;
}
.trip-details {
    color: var(--subtext-color);
}

.trip-details-header {
    background-color: var(--expedia-blue);
    color: white;
    font-size: 17px;
    /* padding: 11px 15px; */
    font-weight: bold
}

.trip-details-subheader {
    background-color: var(--very-light-pink);
    font-size: 12px;
    font-weight: bold;
    /* padding: 8px 15px */
}

/* ************************************* */
/** RoomButton Styles **/
/* ************************************* */

.room-button {
    position: relative
}

.room-button-header,
.room-details-container {
    padding: .5rem
}

.room-button-header {
    background-color: var(--eco-green);
    color: white;
    /* padding: 3px */
}

.room-button-header p, .room-button-header h3 {
    margin: 0;
    margin-bottom: 3px;
    color: white;
    font-size: .8rem
}

.room-details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 45px;
}

.room-details-left > p, 
.room-details-right > p {
    margin: 3px 0;
}

.room-details-right > p {
    text-align: right;
}

p.room-type {
    font-size: .9rem;
    margin-bottom: 5px;
}

p.free-wifi {
    margin: 8px 0;
}

.wifi {
    width: 11px;
    height: 10px
}

p.room-price {
    font-size: 1.5rem;
    margin-bottom: 0;
}

p.free-cancel {
    margin-top: 1rem
}

.check {
    width: 10px;
    height: 10px
}

.dropdown {
    width: 7px;
    height: 7px
}

.room-select-button {
    background-color: var(--amenities-icon-text);
    width: 65px;
    height: 30px;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: white;
    text-align: center;
    outline: none;
    margin: .5rem; 
    position: absolute;
    bottom: 0;
    right: 0
}

.show-all-rooms {
    color: var(--amenities-icon-text);
    font-size: 10px;
    padding: 10px 15px;
    border-top: 3px solid var(--expedia-blue)
}

a {
    color: var(--amenities-icon-text)
}

.bold {
    font-weight: bold;
}

.green {
    color: var(--eco-green)
}

.red {
    color: var(--red)
}

.blue {
    color: var(--amenities-icon-text)
}
