.hotel-list {
  padding: 0.5rem;
}
.green {
  color: var(--eco-green);
}
.poop-brown {
  color: var(--search-button-text);
  margin: 0;
}

.capitalize {
  text-transform: capitalize;
}
.bold {
  font-weight: bold;
}
.big-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sort-button,
.map-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  font-size: 1.5em;
  border: 1px solid var(--formfield-icons);
}
.sort-button {
  padding: 0.3rem 2.5rem;
}
.map-button {
  padding: 0.3rem 1.25rem;
}

.phone {
  text-align: right;
}
.phone a {
  color: var(--amenities-icon-text);
}
.search-details {
  display: grid;
  grid-template-columns: 50% 15% 35%;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: white;
  border: 1px solid var(--formfield-icons);
  max-width: 35rem;
}

.search-details span {
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.destination {
  color: var(--amenities-icon-text);
  font-weight: bold;
}
.dest-city {
  grid-area: 1 / 1 / 2 / 3;
}
.property-count {
  grid-area: 1 / 3 / 2 / 4;
}
.travel-dates {
  grid-area: 2 / 1 / 3 / 2;
  border-top: 1px solid var(--formfield-icons);
}
.hotel-room {
  grid-area: 2 / 2 / 3 / 4;
  border-top: 1px solid var(--formfield-icons);
}
ul {
  list-style: none;
  max-width: 35rem;
  padding-left: 0;
}
li {
  margin: 0.5rem 0;
}
.hotel-info {
  display: grid;
  grid-template-columns: 37% 63%;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 35rem;
  max-height: 13rem;
  transition: all 0.2s ease;
}
.hotel-info:hover {
  background-color: var(--expedia-yellow);
}

.thumbnail {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: auto;
}
.hotel-info-text {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  margin: 0.3rem;
}
.hotel-info-text h3,
.hotel-info-text p {
  margin: 0;
}
.room-features {
  grid-area: 2 / 1 / 3 / 2;
  padding-bottom: 0.3rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.room-features p {
  margin: 0;
}

.room-price {
  grid-area: 2 / 2 / 3 / 3;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.room-price-list {
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: line-through;
}
.room-price-current {
  font-size: 2em;
  font-weight: bold;
  color: var(--search-button-text);
  text-decoration: underline;
}
