/* ************************************* */
/** Hotel Styles **/
/* ************************************* */


/* ************************************* */
/** TripDetails Styles **/
/* ************************************* */

.trip-details-header,
.trip-details-subheader,
.trip-details-main {
    padding: .5rem
}

.hotel-added-components {
    border: 3px solid var(--expedia-blue);
    border-radius: 1px;
}
.trip-details {
    color: var(--subtext-color);
}

.trip-details-header {
    background-color: var(--expedia-blue);
    color: white;
    font-size: 17px;
    /* padding: 11px 15px; */
    font-weight: bold
}

.trip-details-subheader {
    background-color: var(--very-light-pink);
    font-size: 12px;
    font-weight: bold;
    /* padding: 8px 15px */
}

/* ************************************* */
/** RoomButton Styles **/
/* ************************************* */

.room-button {
    position: relative
}

.room-button-header,
.room-details-container {
    padding: .5rem
}

.room-button-header {
    background-color: var(--eco-green);
    color: white;
    /* padding: 3px */
}

.bold {
    font-weight: bold;
}

.room-button-header p, .room-button-header h3 {
    margin: 0;
    margin-bottom: 3px;
    color: white
}

h3 {
    font-size: .9rem;
}

.room-details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.room-select-button {
    background-color: var(--amenities-icon-text);
    width: 65px;
    height: 30px;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: white;
    text-align: center;
    outline: none;
    margin: .5rem; 
    position: absolute;
    bottom: 0;
    right: .5rem
}

.show-all-rooms {
    color: var(--amenities-icon-text);
    font-size: 10px;
    padding: 10px 15px;
    border-top: 3px solid var(--expedia-blue)
}