.nav-icons {
    display: flex;
    align-items: center;
    color: #003262;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: #ffd000;
    justify-content: space-between;
  }
  
  .fas {
    padding: 0 10px;
    font-size: larger;
  }