.nav-icons {
    display: flex;
    align-items: center;
    color: var(--expedia-blue)
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    padding: .5rem;
    background-color: #ffd000;
    justify-content: space-between;
  }
  
  .fas {
    padding: 0 10px;
    font-size: 1.2rem;
  }

  .fa-bars {
    color: var(--expedia-blue)
  }